<div class="row">
  <aside class="col-md-10">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br>
        your followings
      </h1>
    </section>
  </aside>
  <div class="col-md-10">
    <% @followings.each do |following| %>
        <tr>
          <td>Name</td>
          <td>Region</td>
        </tr>
        <tr>
          <td><%= following.name %></td>
          <td><%= following.region %></td>
        </tr>
    <% end %>
  </div>
</div>